[2022-03-16 22:34] github-actions[bot] opened #1 "New Releases available"
Hi,

there are new releases of the following projects:

[code]

[2022-03-16 23:20] #1 closed

[2022-03-30 14:12] 4920441 opened #2 "[Bug] E-Mail Alerting does not work."
**Describe the bug**

When I configure an e-mail alert under Configuration/Alerts and attach the alert to a task, no e-Mail is sent, when the task is completed.

postfix seems to be configured and is running - but without loggin capabilities.

[2022-03-30 18:01] Dexus commented on #2
join the running container via `docker exec .... bash` and look in /var/log/mail.* files to get your errors.
Postfix has no foreground mode so it can't log via supervisor.

[2022-03-31 06:25] 4920441 commented on #2
Hi, there are no logfiles, whatsoever.
Maybe because config has an empty logfile config.... that would be another config bug -)

[2022-03-31 09:57] huornlmj opened #4 "[Enhancement] Does not work behind a proxy"
**Is your feature request related to a problem? Please describe.**
The image does not function when located behind a proxy.  Tried providing RSYNC_PROXY, HTTP_PROXY and HTTPS_PROXY env variables on the docker run line but they were not used and the image fails to start with multiple errors...

`Unable to connect to deb.debian.org:http:
Err:4 http://apt.postgresql.org/pub/repos/apt bullseye-pgdg In

[2022-03-31 09:59] huornlmj opened #5 "[Security] apt packages downloaded over http (tcp:80) are not encrypted."
**Describe the bug**
apt packages downloaded over http (tcp:80) are not encrypted.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the container.
2. Watch the logs.
3. Note multiple connections to http only apt servers instead of the https versions.

**Expected behavior**
Use https instead of http to download components into the running container.

[2022-03-31 14:04] #2 closed

[2022-03-31 14:04] #4 closed

[2022-03-31 14:04] #5 closed

[2022-03-31 14:50] 4920441 opened #7 "[Bug] Manual Update greenbone-nvt-sync permission Problems...:"
A manual Update as user 'gvm' gives permission problems:

greenbone-nvt-sync

         10,603 100%   24.89kB/s    0:00:00 (xfr#82977, ir-chk=4674/88717)
rsync: [receiver] mkstemp "/var/lib/openvas/plugins/2021/suse/.gb_sles_2018_2333_1.nasl.k9pcXK" failed: Permission denied (13)
         17,659 100%   41.45kB/s    0:00:00 (xfr#82978, ir-chk=4673/88717)
rsync: [receiver] mkstemp "/var/lib/openvas/p

[2022-03-31 15:41] #7 closed

[2022-03-31 15:41] Dexus commented on #7
fix is on its way, sorry for that. New release is ready in around 1h.

[2022-04-01 08:50] Dexus opened #9 "[Bug] PDF Reports"
**Describe the bug**
A upstream bug, that lets not create PDF if you not use the default report settings.

**To Reproduce**
Steps to reproduce the behavior:
...

**Expected behavior**
Create PDF with all kind of settings.

**Screenshots**
![bug_01](https://user-images.githubusercontent.com/1674289/161229261-f5d74c8d-543b-4819-b694-873b7daf6ceb.jpg)
![bug_02](https://user-images.githubusercontent.c

[2022-04-03 19:29] Dexus opened #10 "Todo: check all dependencies"
https://community.greenbone.net/t/hint-verify-the-availability-of-scanner-helper-tools-of-your-gse-source-package-installation/1358

Check if we have all packages installed that we need, to use all checks.

[2022-04-04 09:11] Dexus commented on #10
need to check what the current build output and check the nasl `toolcheck.nasl` if we have all tools available in our image

[2022-04-04 18:14] #10 closed

[2022-04-05 00:15] Dexus opened #11 "ToDo: Postgresql settings JIT"
https://community.greenbone.net/t/everything-works-but-i-cant-see-any-report/5875/21

[2022-04-06 16:01] Dexus opened #12 "[Bug] rsyslogd needs wrapper"
rsyslogd needs a wrapper to remove old pid files

also it should cleared on build - which prevents currently the start of rsyslogd

[2022-04-06 16:03] Dexus opened #13 "[Bug] permissions and ownership"
check the permissions, on start via [entrypoint.sh](https://github.com/DeineAgenturUG/greenbone-gvm-openvas-for-docker/blob/main/GVMDocker/scripts/entrypoint.sh)

So, we can be sure that the container and "old" data have the right permissions and ownership.

[2022-04-06 16:10] Dexus commented on #11
already correct in our start.sh

[2022-04-06 16:10] #11 closed

[2022-04-11 07:26] markdesilva opened #14 "Upgrade local DB (help wanted)"
Hi, just noticed this:

[local_db_upgrade_image_build.sh](https://github.com/DeineAgenturUG/greenbone-gvm-openvas-for-docker/blob/main/local_db_upgrade_image_build.sh)

Is this for upgrading the db from 12 to 13? If so, how do I call it to upgrade my old dbs?

Apologies if this has been covered, was looking at the wiki but couldn't find anything on this.

Thank you.

[2022-04-11 20:32] Dexus commented on #14
Hi @markdesilva !

Unfortunately I am very busy at the moment and could not finish the script yet. Unfortunately, there were some people who wanted to steal time by pretending to have bugs, but it was the person in front of the keyboard who was the bug. :(

I have already created an image, but so far it only contains the databases, without the upgrade script. If you know something about PostgreSQL

[2022-04-12 00:01] markdesilva commented on #14
Hi @Dexus!

Family comes first, we can wait! :)

Thank you for all your effort!

[2022-04-14 15:28] cri-hash opened #15 "[Bug]Little bug on Variables documentation"
Hi, on the documentation about variables there'is a little error: default value for AUTO_SYNC is set to "TRUE"; nevertheless, rsync script uses, as 'if' statement check, "YES"; if users install docker with standard configuration file, feeds aren't automatically synchronized on startup

[2022-04-14 20:40] LandonStewart opened #16 "[Enhancement] Migration from official securecompliance/gvm image"
**Describe the solution you'd like**
Many folks, including myself, are using the official but outdated image `securecompliance/gvm`.  It would be nice to be able to switch from that image to this more actively developed one.

When using `deineagenturug/gvm:latest-data-full` as a drop in replacement for `securecompliance/gvm:debian-master-data` there are problems with PostgreSQL.  Likely because of

[2022-04-17 23:53] Dexus commented on #16
I started on this see the mention in #14

I would check the version in the database storage path, and them it need to update major version to the next major version, excepted of this behavior is all pre 10 major version.

I‘m not sure currently how much versions need to migrated so my initial Dockerfiles includes more then I think that are needed.

11to12 and 12 to 13 should work easy only from 13

[2022-04-17 23:54] Dexus commented on #16
Btw. It will not work within the default container and should be done in an extra image that can reused with other installations (#14)

[2022-04-19 23:25] LandonStewart commented on #16
Hi Josef,

I tried to get going on this but won't have time before next week with the holidays and all.

[2022-04-20 14:49] Dexus commented on #16
I started with a initial setup here: https://github.com/DeineAgenturUG/greenbone-gvm-openvas-for-docker/tree/db_upgrade

It will need for sure more work, maybe a other way. I try how I can fix the issues that I see.

[2022-04-20 17:55] Dexus commented on #16
Here a working development build.

**⚠️ Please make sure you have shutdown/stopped the old GVM container from securecompliance or whatever your old image might be!!!!**

Once you have done, please **make sure you have a backup created** before you running this following steps.
We will not touch the old data, but you'll know it is better to have a backup, then sorry. We create a temp copy of the Da

[2022-04-20 19:27] #15 closed

[2022-04-21 07:45] markdesilva commented on #16
Hi @Dexus,

Thank you! Will try it out as soon as I'm done coaching my son for his mid year exams.

Best Regards,
Mark

[2022-04-21 09:22] Dexus commented on #16
Once it's tested a bit more and I get some feedback on it, it will be added to the gvm image as well. So there is no need for an extra image.

[2022-04-21 19:14] LandonStewart commented on #16
So here's what I did to test it with your instructions in mind:

1. `docker-compose down`
2. `mv /data/gvm/database /data/gvm/database.OLD`
3. `$ docker run -ti --rm -v "/data/gvm/database.OLD:/mnt/pg_old/data" -v "/data/gvm/database:/mnt/pg_new/data" deineagenturug/pgdb-upgrade-develop:latest bash`
4. Within the container shell executed:
`# /opt/setup/scripts/db_upgrade.sh` (answered 'y' when ask

[2022-04-22 05:42] Dexus commented on #16
@LandonStewart
Thank you for sharing the path in more detailed steps.

Your log shows an identical output to mine. Perfect!

[2022-04-22 12:51] #13 closed

[2022-04-23 10:50] netbix commented on #16
The conversion is successful but when the docker starts this error is thrown:

gvmdebian    | redis: started
gvmdebian    | Wait for redis socket to be created...
gvmdebian    | Testing redis status...
gvmdebian    | Redis ready.
gvmdebian    | Creating Database folder and rights...
gvmdebian    | Starting PostgreSQL...
gvmdebian    | 2022-04-23 12:47:48,993 INFO spawned: 'postgresql' with pid 590

[2022-04-23 12:15] netbix commented on #16
I think i found the problem.
in the new database folder these two files are missing, present in the old database folder:

-rw-r--r--  1 syslog input     0 Apr 23 14:13 .firstrun

and

-rw-r--r--  1 syslog input     0 Apr 23 14:13 .upgrade_to_21.4.0

[2022-04-23 12:25] markdesilva commented on #16
Hi @LandonStewart, would it be alright to send me your docker-compose.yml please so I can take a look? I think I'm doing something wrong with the volumes.

Thank you.

[2022-04-23 12:27] Dexus commented on #16
@netbix you previous image/tag was which one?
Will look into it and fix it when I get the same result.

[2022-04-23 12:32] netbix commented on #16
i migrated from:
securecompliance/gvm:debian-master-data TO deineagenturug/gvm:latest-data-full

I have change my config with:

# COPY OR RENAME TO "local.env" AND CUSTOMIZE

# Custom environment variables
USERNAME=admin
PASSWORD=admin
# PASSWORD_FILE
DB_PASSWORD=xxxxxxxxxx
# DB_PASSWORD_FILE
HTTPS=true
SSHD=true
AUTO_SYNC=YES
AUTO_SYNC_ON_START=YES
TZ=Europe/Rome
RELAYHOST=x.x.x.x
SMTPPORT=25
OPT

[2022-04-23 12:34] Dexus commented on #16
Yes I had not thought about the lock files. Will fix it in the evening, an release a new upgrade image.

[2022-04-23 12:34] netbix commented on #16
what is this variable for?

export NO_AUTO_UPDATE=${NO_AUTO_UPDATE:-NO}

[2022-04-23 12:35] netbix commented on #16
thank you !

[2022-04-23 12:57] Dexus commented on #16
I hope I did not use it, had used it in a local test. It's the opposite of the `AUTO_SYNC_ON_START=YES` when I'm get it right from remembers.

[2022-04-23 14:20] netbix commented on #16
further problem:

scanning does not work.
OpenVAS_scanner is not found

![immagine](https://user-images.githubusercontent.com/66208491/164909916-cbdb5dd4-b651-4da3-8f78-5556f3587094.png)

[2022-04-23 14:23] netbix commented on #16
root@gvmdebian:/# gvmd --get-scanners
root@gvmdebian:/# gvmd --get-users
root@gvmdebian:/# gvmd --version
Greenbone Vulnerability Manager 21.4.5
Manager DB revision 242
Copyright (C) 2009-2021 Greenbone Networks GmbH
License: AGPL-3.0-or-later
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

[2022-04-23 14:24] netbix commented on #16
the process seems to work:

![immagine](https://user-images.githubusercontent.com/66208491/164910067-a8966ac1-e653-4f46-bb7d-1f75441bc24e.png)

[2022-04-23 14:26] netbix commented on #16
I was wrong:

![immagine](https://user-images.githubusercontent.com/66208491/164910157-4cb8e819-659f-4839-a634-e26933e7ebe7.png)

but why is it not detected and the scans no longer work?

[2022-04-23 14:59] netbix commented on #16
![immagine](https://user-images.githubusercontent.com/66208491/164911458-80d19713-eb0b-48b9-b150-f8b999c16d61.png)

[2022-04-23 15:00] Dexus commented on #16
@netbix good catch, will fix it with the release 21.4.4 oder 21.4.5 the socket has changed with the merge of ospd and ospd-openvas.

[2022-04-23 15:47] Dexus commented on #16
@netbix
run
`sudo -u postgres psql -d gvmd -c "UPDATE public.scanners SET host='/run/ospd/ospd-openvas.sock' WHERE name='OpenVAS Default' and (host='/var/run/ospd/ospd.sock' or host='/run/ospd/ospd.sock');"`

within the gvm container should fix it.

Will be done later automatically in the db upgrade script and also on the start.sh with the next release.

[2022-04-23 16:04] markdesilva commented on #16
When upgrading the db I get this error:

`lc_collate values for database "postgres" do not match:  old "C.UTF-8", new "en_US.UTF-8"`

If I use this db to startup the image, there are no errors, but then none of my reports, tasks, overrides, etc are there.

Another weird issue is that the CERTIFICATE and CERTIFICATE_KEY environment variables don't get recognized for some reason. The start script al

[2022-04-23 16:13] Dexus commented on #16
This can't work, because the DB is not get upgraded with this error. Need to check how I get the correct `lc_collate` and reuse them. Thank you for the report, will check and create an update for the db_upgrade.sh

Thanks, will look into it also.

Ups was to early with my changed to the wiki. release is not yet there where this will point to.

Thank you <3

[2022-04-23 16:18] markdesilva commented on #16
Thank you @Dexus!

For the gsad-https-owncert issue, I was looking at the start.sh and I think its running gsad-https because its not recognizing the "YES" in the env. It is also not recognizing "TRUE" (all caps) but "true" (small letters) works.

Thank you!

[2022-04-23 16:23] markdesilva commented on #16
@Dexus, also is it ok to add "--hts-sts" to the supervisord,conf for the gsad-https and gsad-https-owncert commands to add HTTP Strict Transport Security? If not I can add it on my own, but it would be good to have.

Thank you!

[2022-04-23 17:10] Dexus commented on #16
A new version of the upgrade image is online: `docker pull deineagenturug/pgdb-upgrade-develop:latest`

- fix the lock files, and reset them on the new DB version
- stop if the old and the new DB have the same version
- It will handle the ospd/openvas socket from older versions also the secure compliance solutions version. and fix it to the current used one.
- Also it handles now the old `LC_COLLA

[2022-04-23 17:11] netbix commented on #16
Thank you !

Perfect !

![immagine](https://user-images.githubusercontent.com/66208491/164916435-8ea79e58-1a33-4921-b85e-3e5a735611e3.png)

[2022-04-23 17:12] Dexus commented on #16
@markdesilva

To keep the thread here clean on the migration, can you open a issue for it? Thank you.

[2022-04-23 17:21] netbix commented on #16
I have restore my backup DB, but ....

![immagine](https://user-images.githubusercontent.com/66208491/164916892-9c54bd5c-f519-46c2-b318-aa2cced6a17f.png)

[2022-04-23 17:25] netbix commented on #16
maybe this is the problem?

![immagine](https://user-images.githubusercontent.com/66208491/164917016-ac9e00cd-3325-43c0-a3a8-11101a29534d.png)

[2022-04-23 17:25] markdesilva commented on #16
@Dexus thank you for the fast fix!

 It’s 1.30am here now, will try when I wake up later and let you know if it works!

[2022-04-23 17:26] markdesilva commented on #16
Will do, thank you.

[2022-04-23 17:31] netbix commented on #16
I have correct IF but ....

![immagine](https://user-images.githubusercontent.com/66208491/164917571-951d351e-b8e8-406f-8476-240794df50df.png)

calmly it will be revised a bit

[2022-04-23 17:32] netbix commented on #16
![immagine](https://user-images.githubusercontent.com/66208491/164918123-fc0ba9e9-2682-4f4a-bfa9-4750c8d7cbe5.png)

[2022-04-23 17:49] Dexus commented on #16
@netbix thank you and sorry that I was not double check it, a new image is uploaded with the fixes.

`docker pull deineagenturug/pgdb-upgrade-develop:latest`

[2022-04-23 17:59] netbix commented on #16
many many thanks !!!

[2022-04-23 18:53] netbix commented on #16
I'm sorry but it doesn't work!
calmly you will see tomorrow

![immagine](https://user-images.githubusercontent.com/66208491/164942542-a706f3c4-23ba-4b84-b030-b7be3e15fb4b.png)

[2022-04-23 18:59] netbix commented on #16
![immagine](https://user-images.githubusercontent.com/66208491/164942686-b768015e-324b-481c-972d-09bca7c34b42.png)

[2022-04-23 18:59] netbix commented on #16
![immagine](https://user-images.githubusercontent.com/66208491/164942702-a7371983-dc2b-4c11-806f-9d204368558c.png)

[2022-04-23 20:09] Dexus commented on #16
Thank you! Damn... 😮‍💨 today I will not able to change this, but think tomorrow I can do it.

[2022-04-23 21:22] Dexus commented on #16
@netbix thank you and sorry that I was not double check it, a new image is uploaded with the fixes.

`docker pull deineagenturug/pgdb-upgrade-develop:latest`

Fixed:
- copy of already edited configs to new DB -> should not copy the temp DB config -> copies now the old config to new DB

[2022-04-23 22:47] netbix commented on #16
Perfect !!!
Now everything works! After update feed I'm running the first task with new engine.
Thank you so much thank you

[2022-04-23 23:05] netbix commented on #16
Does the file for the first download exist in your work?

![immagine](https://user-images.githubusercontent.com/66208491/164948910-5cf1b3f7-1d83-4b18-bc35-7b2b97f171a5.png)

[2022-04-24 06:53] markdesilva opened #18 "[Enhancement] Enable HTTP Strict Transport Security for gsad-https and gsad-https-owncert commands in supervisord.conf"
**Is your feature request related to a problem? Please describe.**
Not a problem, but a security enhancement. When 'gsad-https' and 'gsad-https-owncert' is called from start.sh (referencing commands in /opt/setup/config/supervisord.conf) it is started without enabling HTTP Strict Transport Security "--http-sts" (defaults to 31536000).

**Describe the solution you'd like**
Add the "--http-sts" to t

[2022-04-24 06:56] Dexus commented on #16
local_multistep_build_v2.sh on devel branch line 227 is download it. So yes it's on my system and work :) or do you mean the lock file?

[2022-04-24 07:39] Dexus commented on #18
Would a "gsad" environment help here like `X_GSAD_OPTIONS='--enable-xyz --enable-zyx'` to setup more settings if need?

With default values if not set?

[2022-04-24 08:08] markdesilva commented on #16
Getting this error in with the new db upgrade:

**Checking for presence of required libraries                 fatal**

Full error in "loadable_libraries.txt" is :

[code]

Whole upgrade log:

[code]

Thank you.

[2022-04-24 08:24] markdesilva commented on #18
That is possible, but my concern for this would be that users set options that have already been set for 'gsad-https' and 'gsad-https-owncert' in /opt/setup/config/supervisord.conf. Then it may cause "bugs" which are not real bugs and there is wasted time trying to solve something that doesn't need to be solved.

Maybe separate env variables for the security options only. Security options for GSAD

[2022-04-24 08:36] Dexus commented on #16
@markdesilva did you pull the latest image version? It sounds like you did not. I had this error only in old versions and it should already fixed.

[2022-04-24 08:55] markdesilva commented on #16
Yes I removed all other images and pulled the latest:

[code]

Was using debian-master. If the path is wrong, maybe I try looking for the proper library path and soft link before running the script. I will try and report back.

Thank you!

[2022-04-24 09:34] markdesilva commented on #16
Success! I copied the contents of /usr/local/lib to /usr/lib, then I soft linked /usr/lib in /usr/local
[code]
After running the db_upgrade script, it completes without errors!

[2022-04-24 09:48] Dexus commented on #16
THX @netbix @markdesilva you help a lot to improve the db_upgrade script. ❤️

It only need `/usr/lib/libgvm-pg-server` symlinked, but I will look how I can find wrong locations and re-set them to be correct.
But I would like to prevent the symlinks, because it will make problems and need changes for the gvm container, which I will prevent.

I'm not so familiar with the postgres DB... I know that s

[2022-04-24 10:10] Dexus commented on #16
Here a what I found, that use the `libgvm-pg-server` in database `gvmd`
[code]

[2022-04-24 10:54] Dexus commented on #16
@markdesilva @netbix Thanks for your support here and testing.

New Version is ready.

`docker pull deineagenturug/pgdb-upgrade-develop:latest`

Fixed:
- correct old `libgvm-pg-server` path
- fix rm to remove also DOT files from the new DB directory

[2022-04-24 12:03] markdesilva commented on #16
Happy to help with my limited knowledge!

Yes, I had to do the same softlinking when I started the gvm container.

Also when I run the latest gvm container with this upgraded db, I'm getting the error that @netbix was encountering:

**createuser: error: creation of new role failed: ERROR:  role "gvm" already exists**

But I noticed that .firstrun and .upgrade_to_21.4.0 were not in the upgraded dat

[2022-04-24 12:15] Dexus commented on #16
This should all gone when you run this again with the old db. Also the database should get the corrected path to the libs in the new db.

If you get then again errors let me know.
Maybe the gvmd.log in `/var/log/gvm/` will print errors or the postgres logs if there after the db upgrade anything wrong that is not yet in line with the gvm container. Which I hope is not the thing.

[2022-04-24 13:52] Dexus commented on #16
One thing: rsyslog (#12) error is already in pipeline > `deinegenturug/gvm-develop:latest`

[2022-04-24 17:13] markdesilva commented on #16
Hi @Dexus, I ran the latest `deineagenturug/pgdb-upgrade-develop:latest` on my old db and it fails with:
[code]

Have confirmed I'm running the latest `deineagenturug/pgdb-upgrade-develop`:
[code]

[2022-04-24 18:31] markdesilva opened #19 "[Bug] Postfix mail not working"
**Describe the bug**
Mail cannot be sent from the container. The file /etc/postfix/main.cf is misconfigured

**To Reproduce**
Steps to reproduce the behavior:
1. Enter the container shell (docker exec -it gvm bash)
2. Install mailutils (apt update && apt install mailutils)
3. Send a test mail out (echo "Test"| mailx -s "test mail from container" your@email)
4. Mail never arrives
5. Check /var/log/

[2022-04-24 18:35] Dexus commented on #16
@markdesilva can you please send me a copy from your old DB as a .tar.gz/xz ? https://nc.josef-froehle.de/s/GmMW3txfAW8mCpY
I can so test it local and I would be a bit faster to fix problems.
And don't worry, I will work with it under data protection aspects.As soon as I have done my tests, I delete everything again.

[2022-04-24 18:42] markdesilva commented on #9
Actually if I try to show a report in any format (CSV, PDF, XML, TXT, etc) all the reports are empty.

Is this related to the same bug?

[2022-04-24 18:51] Dexus commented on #19
Thank you.
Postfix is configured only to work as relay, to your mail server. It should not work in any different way, because we don't want to send mails directly out to the internet. This has many reasons, like SPAM prevention and more.

The Docker Network, should not be need, because it should handle only "local" mails from inside the container. Nothing from outside - your Docker network.

So it

[2022-04-24 18:57] markdesilva commented on #19
Hi @Dexus, ok noted on this.

Oh its my mistake then, I have to set the relayhost to an actual relayhost fqdn port 25. I was just reading the wiki and realized there was a RELAYHOST variable which I needed to set. I will close this.

Thank you!

[2022-04-24 18:57] #19 closed

[2022-04-24 18:58] Dexus commented on #9
I'm not sure I use in general only PDF Format. Will check on Monday if there are other known issues about this topic.

[2022-04-24 19:02] markdesilva commented on #9
Yes I use PDF only as well, previously with the fix in SSC #249

[code]
This fixed the PDF reports only, the other reports were working fine. But now all the reports are empty, so I'm wondering if it was related to this upstream bug.

Thanks for checking!

[2022-04-24 19:06] markdesilva commented on #16
Sure, the whole thing is 4.3GB though, not sure if it'll go through. Let me try.

[2022-04-24 19:06] Dexus commented on #9
Are you using the default config on the webpage? Or did you set some different filters?

[2022-04-24 19:09] Dexus commented on #16
Should not be a problem for my Server, if you have an alternate storage where I can download it, I can do it. Then you can send me a link to github@josef-froehle.de

[2022-04-24 19:11] markdesilva commented on #9
Defaults config.

apply_overrides=1 levels=hml rows=100 min_qod=70 first=1 sort-reverse=severity

Includes Notes and Overrides.

[2022-04-24 19:12] markdesilva commented on #9
Should I run the /opt/setup/script/reportFix.sh?

[2022-04-24 19:18] markdesilva commented on #16
After compression its a few hundred MB. Uploading now.

[2022-04-24 19:19] Dexus commented on #9
Never used this script, and have no idea if this will help or for which exact problem was ever created.

[2022-04-24 19:28] markdesilva commented on #9
Its a GVM Reporting fix for lines over a certain amount. It says:

"This tool allows you to modify the max_rows_per_page setting. A larger number will allow you to export more data, but it will make the web UI load much slower. Any scan with more than 15000 results should be broken into multiple scans."

Won't run this then.

[2022-04-24 19:34] markdesilva commented on #16
Upload is complete. Thanks!

[2022-04-24 19:48] Dexus commented on #16
Hmm, nothing there. But got an error in the logs. Forgot to set the Upload limit in one config file which now is fixed. Can you re-try?

[2022-04-24 20:24] markdesilva commented on #16
Done! Thanks.

[2022-04-25 07:14] markdesilva commented on #12
I implemented the changes from the devel branch for rsyslogd in my container, and the rsyslogd error is now gone!

[2022-04-25 07:22] markdesilva commented on #9
Have been testing since early this morning. All report formats result in 0byte downloads.

Notifications that are supposed to attach reports don't have any attachments.

My docker run has  OPT_PDF="1" which has installed the necessary texlive deps:
[code]
https://github.com/Secure-Compliance-Solutions-LLC/GVM-Docker/issues/249 does not fix the situation.

Thanks.

[2022-04-25 07:35] Dexus commented on #9
can you have in you container to `/var/lib/gvm/gvmd/report_formats/11e2bb5a-5dbf-496f-abe6-7ebb301aae68`
and make a `ls -alsR`

[code]

[2022-04-25 07:49] markdesilva commented on #9
I have no such directory.
[code]

Have I done something wrong?

[2022-04-25 08:32] Dexus commented on #9
No but there is a difference between the docs and the code. (#15)

Please use the code from https://github.com/DeineAgenturUG/greenbone-gvm-openvas-for-docker/blob/devel/GVMDocker/scripts/sync-all.sh and add it to `/opt/setup/scripts/sync-all.sh`  to fix it

Need later to release the fixes to the latest images.

[2022-04-25 09:08] markdesilva commented on #9
Thanks @Dexus, I’m not at my desk at the moment will come back and do it.

[2022-04-25 09:28] Dexus commented on #16
New Version is ready.

`docker pull deineagenturug/pgdb-upgrade-develop:latest`

Fixed:
- correct path of the `/usr/lib/libgvm-pg-server.so` symlink to `/usr/local/lib/libgvm-pg-server.so` now with the extension

[2022-04-25 11:59] AlexanderLieret opened #20 "[Bug] Volumes not working"
**Describe the bug**
When using volume bindings, the initialization and updates are not working.

**To Reproduce**
Start GVM with this docker-compose.yml. All image variants have the same problem.
[code]

**Expected behavior**
Container starts and initializes the database, like running

[code]

**Screenshots**
[code]

**Host Device:**
 - OS: Debian 11
 - Version: Docker version 20.10.14, build a22

[2022-04-25 12:00] markdesilva commented on #9
I copied the code from https://github.com/DeineAgenturUG/greenbone-gvm-openvas-for-docker/blob/devel/GVMDocker/scripts/sync-all.sh to my container /opt/setup/scripts/sync-all.sh. The only difference between them is:
[code]

I ran the script, it did some updates, but my `/var/lib/gvm/gvmd/report_formats` is still empty.

In my feed status, it says all the feeds are updating. After updating, I tried

[2022-04-25 12:39] Dexus commented on #20
please provide the logs of `docker compose logs` or `docker-compose logs`
and also the logs from `/var/log/supervisord/`and `/var/log/gvm/`

I'm not able to reproduce it, just starting a new fresh container via docker-compose but can't see currently any problem here. But I wait 30 minutes to check then if the problem shows up.

[2022-04-25 12:41] markdesilva commented on #9
Yes, still empty.
[code]
I even restarted the container and let it update again.

[2022-04-25 12:49] Dexus commented on #9
what does the gvmd log tells you? /var/log/gvm/gvmd.log`

If there is no error to find, please try it with a complete clean system (all volume should be empty) and change after the feeds are synced and ~10 minutes idle time the database folder to your updated db and restart the container. I see this very very rarely and most when the system was stopped before the sync was done, that files are miss

[2022-04-25 12:53] markdesilva commented on #9
I see a whole bunch of these messages in /var/log/gvm/gvmd.log, which corresponds to every time my tasks try to generate a report or I manually try to generate a report of any type (TXT, CSV, PDF, etc).

[code]

[2022-04-25 12:56] markdesilva commented on #9
Ok will try this after dinner - thank you!

[2022-04-25 13:12] Dexus commented on #9
maybe a `gvmd --rebuild-gvmd-data=report_formats` help there also

[2022-04-25 13:33] AlexanderLieret commented on #20
I don't see any network traffic on this machine which you would indicate that there is an upgrade in progress.

On my end it looks like the intialization fails because the inital download file is missing when mounting with paths.

[2022-04-25 15:08] markdesilva commented on #9
I tried `gvmd --rebuild-gvmd-data=report_formats` but it didn't work. I even tried `gvmd --rebuild` and it didn't work also.

But then, I think I found the issue.

The directory name for report generation directory (/var/lib/gvm/gvmd/report_formats/<report_generation_directory>) is stored in the database. When I use the old database, its doesn't create the directory.

I checked my previous version

[2022-04-25 15:19] Dexus commented on #9
btw. why did you not reuse the volumes from the old one? only the DB volume need to be changed after the update to match PGSql 13.

[2022-04-25 15:24] markdesilva commented on #9
You’re right! Stupid of me. Sorry to waste your time on this issue, it was not intentional. Completely my fault.

[2022-04-25 16:12] Dexus commented on #9
No problem.

[2022-04-26 10:24] AlexanderLieret commented on #20
This is fixed in the development build. It took about 50 minutes to initialize on my end.

[2022-04-26 10:24] #20 closed

[2022-04-27 09:24] miyoyo opened #21 "[Bug] AUTO_SYNC parameter is inconsistent with other parameters"
**Describe the bug**
The "AUTO_SYNC" Parameter requires the variable to exactly be `YES`, otherwise, it will not be enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a container with "AUTO_SYNC" set to "true"
2. Observe that no connection to feed.community.greenbone.net happens, and running the sync script manually exits instantly
3. Kill the container
4. Restart a new container

[2022-04-27 09:41] miyoyo opened #22 "[Enhancement] Support RSYNC mirroring"
**Is your feature request related to a problem? Please describe.**
Synchronizing feeds can often be a problem when in severely restricted networks, some network administrators may also be uncomfortable permanently having a server outbound connection open to a third party.

The greenbone feeds also have strict restrictions, such as only allowing a single sync at a time, restricting sync speed, temp

[2022-04-27 09:49] miyoyo commented on #21
Missed #15, my bad

[2022-04-27 15:06] #12 closed

[2022-04-27 15:29] Dexus commented on #22
Sounds quite interesting, could you contribute a PoC?
I would have to think about it more, but time is a bit short at the moment. But I'll add it to my list if you don't have the possibility to contribute code yourself.

[2022-04-28 09:04] miyoyo commented on #22
Sure, I'll see what I can do, if anyone else is interested, don't hesitate to snipe it, we probably need more than a single approach anyway.

[2022-04-28 10:05] miyoyo commented on #22
Alright, so, to get a basic experiment going, here are the changes that need to be done to run an rsync command manually:

This assumes one master, one slave, and that they are already linked through SSH.

All the config changes must be done on the master:

/etc/ssh/sshd_config:
`MaxSessions 0` -> `MaxSessions 1`

/var/lib/gvm/.ssh/authorized_keys:
Prepend `command="rrsync -ro /var/lib/openvas/plu

[2022-05-01 14:46] Dexus opened #23 "[Enhancement] Support more arch"
Build postgres from source if arch is not available see
https://github.com/docker-library/postgres/tree/master/13/bullseye

[2022-05-01 15:01] Dexus opened #24 "Build with buildah: we need Capabilities and more settings!"
To prevent the problems on execution of the openvas scanner, we need to build the container with caps support.
This is only possible with buildah. Currently I was not able to find any other build tool, that support caps on build. Which prevents with correct caps settings inside the container the successful build of the release images.

openvas binary need to use NET_RAW and NET_ADMIN caps to recor

[2022-05-06 19:02] Dexus commented on #23
Need to think about arm/v7 support, as it is not a 64 bit version - see some problems... not only for postgresql also for the scanner.

[2022-05-07 13:53] harshalgithub opened #25 "Need help on Distributed setup GVM, OpenVas, GSA, Postgresql, GVM API"
Hi @Dexus ,

I was going through different repos present here, I am looking for Distributed setup of Openvas, GVM, GSA, Postgres, GVM API with remote Scanner Supported approach.

I need common postgres database which would be used by remote scanners, so after finishing the scan, remotescanner can be shutdown/disposed but reports,logs should be stored on common postgres database, so with master GVM

[2022-05-08 11:32] Dexus commented on #25
Hi @harshalgithub,

this setup will not be supported. We provide you an all-in-one image (gvm) which includes eveything you need. And also the remote scanner image (openvas-scanner).

We will not support an external database, the remote scanner (image: openvas-scanner) need to communicate with the master (image: gvm).

The setup of our gvm image, is to have the best performance without common prob

[2022-05-12 06:25] #25 closed

[2022-05-13 20:50] polin924fbn opened #28 "[Bug] Not able to Open UI"
**Describe the bug**
I got the latest version of `deineagenturug/gvm:latest-data` and then run it like this:

[code]
I am not able to open the UI `localhost:8080` (127.0.0.1). The site can't be reached

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Able to open the UI

**Screenshots**
If applicable,

[2022-05-14 06:36] Dexus commented on #28
What are telling you the logs?

[code]

I do not have macOS here to check it. So I am not able to help here if there is a problem with the OS. BTW I know that on macos the docker way is difficult and I can think that it does not work like on Linux, like apple massacred the BSD OS to create their macos.

[2022-05-15 17:27] #16 closed

[2022-05-15 17:27] #18 closed

[2022-05-15 17:27] #28 closed

[2022-05-15 18:58] Dexus opened #29 "[Bug] Release postponed: image with postfix cannot be built - /etc/hosts read-only"
Currently it is not possible to build the container image, because we can't change the /etc/hosts with `docker buildx build`.

I am in the process of finding an alternative that will provide us with the actual functionality with a relayhost.

I will probably go for nullmailer if it meets the requirements and I don't encounter any problems with it in my tests.

Sorry for the delays, but I am alread

[2022-05-19 09:16] iz0bbz commented on #23
Do you plan to extend support to i386?

[2022-05-19 09:39] Dexus commented on #23
No not for now, currently I'm seeing on test systems that use 32bit archs some problems.
I can for sure provide also 32 bit archs but then I will not give any support for them.

[2022-05-19 17:04] rudnypc opened #32 "CSV Result limit"
Hi,

I have a problem my stacks, I'm missing some results, is this repo fixed this problem https://community.greenbone.net/t/exported-reports-missing-most-of-the-results/2876 ?

[2022-05-19 19:04] Dexus commented on #32
Hi @rudnypc

I'm not sure, what the problem was, not even there is any solution in the topic.
So I'm not aware of any problem with it yet. But I'm also only use the source from Greenbone and don't fix things my self, except of what I can do with this Docker Image.

Regards, Josef

[2022-05-19 19:34] Dexus commented on #32
Hi again @rudnypc,

I have just read it again and I think this fix script (https://github.com/DeineAgenturUG/greenbone-gvm-openvas-for-docker/blob/main/GVMDocker/scripts/reportFix.sh) is what you mean. And no, we don't fix it automatically on setup, because it has performance impact, and I don't touch things if they have negative impact of performance.

Regards, Josef

[2022-05-19 22:34] github-actions[bot] opened #33 "New Releases available"
Hi,

there are new releases of the following projects:

[code]

[2022-05-23 08:41] tpaiii3 opened #34 "Error on Report pages"
I found this error "An internal error occurred while getting resources list. The current list of resources is not available. Diagnostics: Failure to receive response from manager daemon."

![image](https://user-images.githubusercontent.com/85722230/169779614-4d082053-db89-4782-827e-32228d37c1d4.png)

Please help to suggest me.

[2022-05-23 10:07] Dexus commented on #34
Please check the logs:

[code]

[2022-05-24 08:12] tpaiii3 commented on #34
Hi, Dexus

![image](https://user-images.githubusercontent.com/85722230/169982645-a292d38b-9e2b-4ee7-8d32-58f4b2d9c7c3.png)

[2022-05-24 08:19] Dexus commented on #34
How are your feed status? Administration->Feed Status

It looks for me like you interrupt the container while it was syncing. you should restart the container - then run (after feed status is not syncing anymore) the `gvmd --rebuild-gvmd-data=all` followed by a `--rebuild-scap`

Hope it help.

[2022-05-25 04:04] tpaiii3 commented on #34
It's not work.

![image](https://user-images.githubusercontent.com/85722230/170177111-e60d1116-bbe4-4954-8b57-9d69b91d8dbd.png)

![image](https://user-images.githubusercontent.com/85722230/170177235-b5d51edc-fc7d-4d5f-a661-f0ba61d4bca4.png)

more error in below.
![image](https://user-images.githubusercontent.com/85722230/170177307-9c2dfda3-92f0-4d1b-9d08-31c7d124bba2.png)

[2022-05-25 06:48] Dexus commented on #34
can you please provide `docker inspect gvm99` ? I never had this issue before.

Did you update from an older version, if yes which one?

[2022-05-27 08:21] Dexus commented on #34
Can't help here, if you not provide information's.

[2022-05-27 08:21] #34 closed, assigned to Dexus

[2022-05-27 08:22] #32 closed, assigned to Dexus

[2022-05-27 15:46] tpaiii3 commented on #34
Dexus,

**Here's the result**

 sudo docker inspect gvm99
[
    {
        "Id": "7162f977530519747fef595a667279b1cc4293f8c47562aed966ca12d18aea94",
        "Created": "2022-05-24T14:32:25.439354766Z",
        "Path": "/opt/setup/scripts/entrypoint.sh",
        "Args": [
            "/usr/bin/supervisord",
            "-n",
            "-c",
            "/etc/supervisord.conf"
        ],
        "S

[2022-05-30 07:03] Dexus commented on #34
Hmm, I'm not sure what here is the problem. It can have todo with your security profiles or with your firewall (don't expect that here). Can you look what the `supervisorctl` command within your container showing?

[2022-06-11 19:35] jerwah opened #35 "WIKI: FAQ - SSL Certificate Instruction Typo"
[FAQ\Question 8 - How can I use my own SSL Certificate?](https://github.com/DeineAgenturUG/greenbone-gvm-openvas-for-docker/wiki/FAQ#question-8---how-can-i-use-my-own-ssl-certificate)

Solution #2 It States:

Should READ:
CERTIFICATE_KEY=/secrets/ssl/MY_SSL_CERT.key

[2022-06-13 06:53] Dexus commented on #35
Thank you. It is fixed

[2022-06-13 06:53] #35 closed, assigned to nobody

[2022-08-08 11:19] jerwah opened #37 "Documentation Enhancement Request - docker run - add logging options"
Would like to propose including in the "docker run" sample on the documentation page:

--log-opt max-size=100m   --log-opt max-file=5

and maybe a "tune the logging values to suit your requirements"?

Thank you